* {
  padding: 0;
  margin: 0%;
  box-sizing: border-box;
}
.main{
  height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
  

}
.head {
  display: block;
  overflow-y: hidden;
  z-index: 121;
}

.optionshape {
  width: 40px;
  height: 96px;
  margin: 0px 4px 4px 4px;
}

.optionwritingarea {
  width: 587.28px;
  height: 112px;
}
div{
  margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
}

.main {
 
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;}
.wrapper {
  width: 100%;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.spacer{
  padding-bottom: 56px;
    position: relative;
}

.overflowsidebar {
  position: fixed;
  
  box-sizing: border-box;
  left: 0px;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  bottom: unset;
  width: 12rem;
  height: 100%;
  background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px;
  padding-top: 0px;
}

.maincountainer{
  height: calc(100% - 56px);
  display: flex;
  flex-direction: column;




}

